html {
  box-sizing: border-box;
  font-size: 10px;
  background: #EDEDEF;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.page__container {
  padding: 0 100px;
}


.heading__wrapper {
  text-align: center;
  margin-top: 40px;
}
.heading__wrapper img {
  width: 60px;
  margin-bottom: 8px;
}
.heading__wrapper h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1;
  margin: 0;
}
.heading__wrapper p {
  font-size: 16px;
  margin-top: 10px;
}
.score__wrapper {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
}
.score {
  display: inline-block;
  vertical-align: middle;
  background: #000;
  font-weight: 800;
  color: white;
  padding: 10px;
  height: 50px;
  line-height: 30px;
  width: 50px;
  border-radius: 50px;
}

.game {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 100px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(../../images/dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.target {
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
  cursor: pointer;
}
.target.t-red {
  background: url('../../images/target-red.svg') bottom center no-repeat;
}
.target.t-blue {
  background: url('../../images/target-blue.svg') bottom center no-repeat;
}
.target.t-purple {
  background: url('../../images/target-purple.svg') bottom center no-repeat;
}

.hole.up .target {
  top: 0;
}
.start__button {
  display: block;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: black;
  border: none;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
.start__button:hover {
  opacity: 0.8;
}
.start__button:focus {
  outline: none;
} 
      .go-back {
        border-radius: 50%;
        border: 2px solid black;
        color: black;
        padding: 15px;
        margin: 10px;
      }
      .back-arrow {
        text-decoration: none;
        font-weight: 500;
        color: black;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
      }
      .back-arrow:hover {
        color: #18bfef;
      }
      .back-arrow:hover > * {
        border-color: #18bfef;
        color: #18bfef;
      }